

<div class='panel-heading'>
    </div>

    <div class='panel-body'>
       
     
        <div class='table-responsive'>
            <table class='table' width='100%'>
                <thead>
                    <tr>
                        <th width='25%'>Product</th>
                        <th width='25%'>Rating</th>
                         <th width='25%'>Description</th>
                          <th width='25%'>
                                <button mdl-button mdl-button-type="raised" mdl-colored>
                                    Button
                                </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                         
                              
                      <br>
                   
  
                        </td>
                            <td>
                            
                        </td>
                        <td></td>
                        <td>
                            
                        </td>
                       
                   
                    
                    
                    </tr>
                </tbody>
            </table>
        </div>
    </div>